
.cityCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 60vh;
  gap: 1.5vw;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(255, 255, 252, 0.2);
  box-shadow: -4px 4px 33px -20px rgba(39,45,45,0.87);

}

.imgCityContainer {
  width: auto ;
  max-width: 45vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cityInfo{
padding: 0.5vw;
width: auto ;
height: 60vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}

.imgCityContainer > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 0.7;
  /* filter: grayscale(100%); */
  object-fit: cover;
}

.cityInfo > * {
  color:#272D2D;

}

.cityInfo > h2 {
  font-size: 2.8vw;
}

.cityInfo > h3, .cityInfo > h4  {
  font-size: 2vw;
}

.iconWeatherContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  padding: 0.5rem;
}

.weatherInfo > h5 {
  font-size: 2.5vw;
}

.weatherPanelDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1023px) {
    
  .cityCardContainer {
  width: 70vw;
  }

  .imgCityContainer, .cityInfo {
  width: 30vw;
  height: auto;

  }


  .cityInfo > h2, .cityInfo > h3 {
    font-size: 2.3vw;
  }

   .cityInfo > h4  {
    font-size: 2vw;
  }

  .iconWeatherContainer {
    font-size: 1.5vw;
  }

  .weatherInfo > h5 {
    font-size: 1.3vw;
  }
}
