footer {
  color:#272D2D;
  font-size: 2.5vw;
  padding: 1vh;
  width: 100vw;
  height: auto;
  text-align: end;
  position: absolute;
  bottom: 0;
  align-self: flex-end;
  

}

@media screen and (min-width: 1023px) {

footer {
  font-size: 1.2vw;
}
}