
.WeekForecastContainer1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;

}

.ForecastWeekByLocationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.ForecastWeekByLocationContainer > .lds-roller,
.ForecastWeekPanel > .lds-roller{
  margin:  auto auto;
}





@keyframes slideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ForecastWeekCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70vh;
  gap: 2vw;
  border-radius: 5px;
  overflow: hidden;
  animation: slideUpAnimation 1s ease-out;
}


.ForecastWeekCardContainer  > h2 {
  font-size: 3vw;
  padding: 1rem;
  color: #272D2D;
}

.ForecastWeekCardContainer  > h2 > span {
  font-size: 4.5vw;
  color: #272D2D;
}

.weekForecastUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: auto;
  margin: 0.5rem;
  flex-wrap: wrap;
  overflow-y: auto;
}


.weekForecastUl::-webkit-scrollbar {
  width: 12px; 
  border-radius: 4px; 
}

.weekForecastUl::-webkit-scrollbar-thumb {
  background-color: #888888; 
  border-radius: 4px; 
}

.weekForecastUl::-webkit-scrollbar-thumb:hover {
  background-color: #555555; 
  border-radius: 4px; 
}

.weekForecastUl::-webkit-scrollbar-track {
  background-color: #f2f2f2; 
  border-radius: 4px; 
}


.weekForecastItem {
  color: #272D2D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto; 
  min-width: 20vh;
  height: auto;
  min-height: 20vh;
  padding: 0.2rem;
  border: 0.5px dotted grey;
  border-radius: 5px;
  margin: 0.5vw;
  padding: 0.5vw;
  overflow: hidden;
  background-color: rgba(255, 255, 252, 0.3);
}



.weekForecastItem > * {
  color:#272D2D;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  height: auto;
  padding: 0.2rem;
  width: 20vw;
}

.weekForecastItem:hover {
  background-color: rgba(255, 255, 252, 0.3);
}


.weekForecastItem > h2 {
  font-size: 2.5vw;
}


.weekForecastItem > h3 {
  font-size: 3.3vw;
  font-weight: bold;
 
}

.weekForecastItem > p {
  font-size: 2.1vw;
  
}

.weekForecastItem > h5 {
  font-size: 1.8vw;
  text-align: center;
 }


.iconWeekForecastContainer {
  width: 5vw;
}

.iconWeekForecastContainer > img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}




@media screen and (min-width: 1023px) {

  .weekForecastUl {
    flex-wrap: nowrap;
  }

  .weekForecastItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    padding: 0.2rem;
    border: transparent;
    border-radius: 0px;
    border-right: 0.5px dotted grey;
    border-left: 0.5px dotted grey;
    margin: 0;
    background-color: transparent;
 
  
   
  }

  .weekForecastItem > * {
    color:#272D2D;
  }

  
.weekForecastItem > h2 {
  font-size: 2vw;
  
}


.weekForecastItem > h3 {
  font-size: 3vw;
  font-weight: bold;
 
}

.weekForecastItem > p {
  font-size: 1vw;
  
}

.weekForecastItem > h5 {
  font-size: 1vw;
  text-align: center;
 }


.iconWeekForecastContainer {
  width: 5vw;
}

.iconWeekForecastContainer > img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

  
}
